// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

//Colors

$brand-primary:         #f58634; // Orange
$brand-secondary:		#000000; // Brand Secondary Color
$brand-tertiary:		#ff0000; // Brand Tertiary Color

$header-font:           'nunito', sans-serif; // Nunito
$body-font:             'Open Sans', sans-serif; // Open Sans

//Fluid Typography Variables
$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 18px;

// Fluid Header Variables
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop





//Mix-Ins

//All Headings

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

//Text Shadow
@mixin text-shadow {
    text-shadow: 0 0 15px #000;
}

//Drop Shadow
@mixin shadow {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
}

//Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//Transitions
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

//Typography

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

